* {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(135deg, #2e4775, #EB8CC2);
  font-family: Mukta, sans-serif;
  font-size: 0.9rem;
  height: 135vh;
}

/* header */

.headerr {
  background: rgba(0, 0, 255, 0);
  display: block;
  height: 200px;
  padding: 10px;
  width: 100%;
}

img {
  border-radius: 100%;
  height: 8% ;  
  margin-left: 20px;
  width: 8%;  
}

.gtp{
  color: white;
  font-family: Mukta, sans-serif;
  font-style: oblique;
  height:fit-content;
  width:fit-content;
}

.iso {
  color: white;
  font-family: Mukta, sans-serif;
  font-size: small;
  font-style: italic;
  height:fit-content;
  margin-right: unset;
  width:fit-content;
}

.logout {
  background-color: white;
  border-color: white;
  border-radius: 30px;
  border-style: solid;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  float: right;
  margin-right: 20px;
  margin-top: 80px;
  padding: 7px;
}

.logout p {
  color: black;
  float: left; 
  font-family: Mukta, sans-serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: bold;
  margin-right: 10px;
}

.logout a {
  color: #2e4775;
  font-family: Mukta, sans-serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
  text-decoration: none;
}

.logout a:hover {
  color: #71b7e6;
}
/* navigation bar */

.dropdwn {
  background: rgba(255, 255, 255, 0.3);
  height: 35px;
  text-align: center;
  justify-content: center;
  display: flex;
  
}

.dropdwn ul{
  float: left;
  margin-right: 30px;
  list-style: none;
  display: inline-flex;
}

.dropdwn ul li {
  margin-left: 20px;
  position: relative;
  width: auto;
  z-index: 1;
  transition-duration: 0.4s;
}

.active, .dropdwn ul li:hover {
  background: rgba(235,140,194, 0.7);
  border-radius: 3px;
}

.dropdwn ul li a{
  display: block;
  padding: 0 15px;
  color: white;
  text-decoration: none;
  line-height: 35px;
  font-size: 15px;
}

.sub_menu {
  display: none;
  width: max-content;
}

.fa-angle-down {
  float: right;
  color: white;
  margin-top: 11px;
  margin-left: 0;
}

.fa-angle-right {
  float: right;
  color: white;
  margin-top: 11px;
}

.dropdwn ul li:hover .sub_menu {
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.9);
  margin-top: 2px;
  margin-left: 0;
}

.dropdwn ul li:hover .sub_menu ul{
  display: block;
  margin: 10px;
}

.dropdwn ul li:hover .sub_menu ul li {
  padding: 0;
  width: 134px;
  text-align: left;
  margin-right: 20px;
}

.dropdwn ul li:hover .sub_menu ul li a:hover {
  color: #fff;
}

.sub_menu2 {
  display: none;
  padding: 0;
  margin: 0;
  width: 150px;
  height: fit-content;
}

.sub_menu2 ul {
  padding: 0;
  transition-duration: 0.4s;
}

.sub_menu2 ul:hover {
  background: rgba(235,140,194, 0.7);
  border-radius: 3px;
}

.hover-me:hover .sub_menu2 {
  position: absolute;
  display: block;
  margin-top: -40px;
  margin-left: 162px;
  background: rgba(0, 0, 0, 0.9);
}

/*content of the page*/


.content {
  background: rgba(0, 0, 255, 0);
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container {
  margin-top: 130px;
  width: 850px;
  height: auto;
  padding: 25px 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}



.container a {
  margin-left: 590px;
  margin-top: 80px;
  color: black;
  font-family: Mukat, sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  transition-duration: 0.4s;
}

.container a:hover {
  color: #71b7e6;
}

.container .title{
  font-size: 25px;
  font-weight: 500px;
  position: relative;
}

.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.form {
  margin-top: 30px;
  display: inline-block;
}

.box {
  display: flex;
  margin-bottom: 20px;
  margin-right: 75px;
  padding: 0.4rem 0.4rem;
  background-color: gainsboro;
  border-radius: 10px;
}

.details {
  display: block;
  font-weight: bold;
  font-size: 16px;
  padding-right: 16px;
}

  .box p{
   font-size: 15px;
   font-style: italic;
   padding-top: 1px;
  }

  .form .box:nth-child(3) p {
      font-size: 15px;
      font-style: italic;
      padding-top: 1px;
      max-width: 400px;
      word-break: break-word;
  }  

/*bouton SAUVEGARDER*/
.button input{
  height: 45px;
  width: 20%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  margin-left: 50px;
  margin-top: 30px
}

/*bouton ANNULER*/
button {
  height: 45px;
  width: 20%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  float: right;
  margin-top: -70px;
  margin-right: -15px;
}

button:hover {
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }